.task-list-container {
  margin: 40px 20px 140px;
  position: relative;
}
.tasks-list {
  transition: opacity 300ms linear;
  
  &.disabled {
    transition: opacity 300ms ease-out;
    // opacity: 0.5;
  }
}